:root{
    --color-dominante: #2aacf8;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 4px 25px -22px black; 
    z-index: 2;
}

.header-content{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: var(--color-dominante);
}

.menu{
    height: 70px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;

}

.menu nav ul li{
    height: 70%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--color-dominante);
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    transition: color 300ms;
    font-size: 18px;
}
.menu nav ul li a:hover{
    color: var(--color-dominante);
}

.menu .text-menu-selected{
    color: var(--color-dominante);
    
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #e9e9e9fa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.7;
}

/*Portada*/

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 70px;
    background-image: url(../imgs/portada.webp);
    background-position: center;
    background-size: cover;
    background-repeat: none;

}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(30, 141, 245, 0.25);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 700px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

/*container-content (contenido artículo) */

.container-content{
    width: 900px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
article:before{
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-dominante);
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}
article p{
    margin-top: 20px;
    font-size: 20;
    color: #3c3c3c;
}

article img{
    width: 100%;
    margin-top: 20px;

}

/* aside de articulos relacionados */

.container-aside aside{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-left: 50px; 
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside aside img{
    width: 100%;
    border-radius: 10px;
}

.container-aside aside h2, .container-aside aside p {
    margin-top: 20px;
    padding: 0px 20px;

}
.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 20px;
    background-color: var(--color-dominante);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.container-aside aside button:hover{
    opacity: 0.8;
}


/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 800px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icons-footer{
    font-size: 30px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-twitter:hover{
    background: #54c5fa;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/*Responsive Design - adaptar a dispositivos moviles*/

@media screen and (max-width:1000px){
    .header-content, .container-content, .container-footer footer{
        max-width: 400;
        padding: 0 20px;
    }
    
}

@media screen and (max-width: 890px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }
    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}
@media screen and (max-width: 590px){


    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(200px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 70px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-250px);
        box-shadow: 10;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral{
        width: 200px;
        transform: translateX(0);
    }
    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 100px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }
    .menu nav ul li a{
        margin-top: 40px;
    }
    .menu nav ul li a i{
        
        width: 20px;
        display:inline-block;
        margin-right: 10px;
        color: var(--color-dominante);
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }
}